em {
  background-color: yellowgreen;
  color: #000;
  padding-left: 2px;
  padding-right: 2px;
}

.link-to-explore {
  display: inline-block;
  vertical-align: middle;
}

.link-to-explore-svg {
  fill: rgb(179, 179, 179);
}

.link-to-explore-svg:hover {
  fill: rgb(255, 255, 255);
}

/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: transparent;
  color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

.edge > text{
  cursor: pointer;
}
.edge.active path{
  stroke-dasharray: 8;
  animation: custom-dash-line 10s linear infinite reverse;
  stroke: red !important;
}
.edge.active text{
  fill: red !important;
}
.edge.active polygon{
  fill: red !important;
  stroke: red !important;
}
.node {
  cursor: pointer;
}
.node.active > ellipse{
  stroke: red !important;
}
.node.active > text{
  fill: red !important;
}



